body {
    background-color: black;
    margin: 0;
}
div {
    box-sizing: border-box;
}

div.photo-container {
    background: whitesmoke;
    margin-top: 20px;
    font-family: 'Roboto'
}

div.photo-container .htmlLogo {
    float: left;
    font-size: 35px;
    padding: 10px;
}

.fa-bookmark{
    float: right;
}
div.photo-container h3 {
    padding: 20px;
    margin: 0;
    border-top: 0;
}

div.container {
    width: 500px;
    margin: auto;
}
div.textPost {
    padding: 10px;
}
.header-nombre {
    float: left;
}

.Rigo {
    margin-top: -10px;
}

.header-puntitos {
    padding: 15px;
    float: right;
    font-size: 25px;
}

.likes {
   padding: 10px;
}

.icons {
    padding: 10px;
    font-size: 25px;
}